.tagSlider {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nanum Gothic", sans-serif;
}

.lists {
  display: flex;
  align-items: center;
  list-style: none;
  max-width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.lists::-webkit-scrollbar {
  background: transparent; /* make scrollbar transparent */
  -webkit-appearance: none;
  width: 0;
  height: 0;
}
.lists .listItem {
  background: #ff61f6;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  margin: 0 4px;
  white-space: nowrap;
  text-transform: capitalize;
}
.lists .listItem .link {
  text-decoration: none;
  color: #fff;
}

.prev,
.next {
  border: 0;
  color: #777;
  font-size: 24px;
  margin: 0 8px;
}

.noData {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noData span {
  font-size: 2em;
}
